body {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    background: rgb(230, 128, 243);
    
  background: linear-gradient(
    90deg,
    rgb(247, 3, 214) 0%,
    rgb(243, 243, 243) 50%,
    rgb(247, 3, 214) 100%
  );
  
    color: #eeeeee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
 
  audio{
    height:20px;
    width: 40%;
  }
  h5{
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #fafafa;
    text-shadow: 2px 2px 4px #ec68ec;
    font-family: "Cherry Swash", cursive;
  }
 
  .imagen:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    filter: sepia(60%);
  }
  h1,h5{
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #fafafa;
    text-shadow: 2px 2px 4px #ec68ec;
    font-family: "Cherry Swash", cursive;
  }
   /*footer*/
footer {
  background: rgb(65, 65, 65);
  
  background: linear-gradient(
    90deg,
    rgb(3, 3, 3) 0%,
    rgb(94, 93, 93) 50%,
    rgb(255, 255, 255) 100%
  );
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

a {
  color: #eeeeee;
  font-size: 25px;
  font-family: "Cherry Swash", cursive;
  text-decoration: none;
  text-align: center
}
.contacto{
  margin-left: 8%;
  width: 25%;
  float: left;
  
}
.redes, .pago{
  width: 33%;
  float: right;
}
