body {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    background: rgb(36, 0, 28);
    background: linear-gradient(90deg, rgb(116, 1, 87) 0%, rgb(123, 3, 160) 35%, rgb(250, 138, 231) 100%);
    color: #eeeeee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  h1{
    text-align: left;
  }

  
  div,form,label {
    height: 50%;
    width: 50%;
    display: block;
    text-align: left; 
  }
 


  /*menu nav-principal*/
  
  .nav1 {
    margin: 27px auto 0;
    position: relative;
    width: 735px;
    height: 50px;
    background: rgb(65, 65, 65);
  background: linear-gradient(90deg, rgb(3, 3, 3) 0%, rgb(94, 93, 93)50%, rgb(255, 255, 255) 100%);
    border-radius: 8px;
    font-size: 0;
  }
  
  .nav1 a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  
  /*animacion efectos menu-barra*/
  
  .nav1 .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }
  
  a:nth-child(1) {
    width: 100px;
  }
  
  a:nth-child(2) {
    width: 110px;
  }
  
  a:nth-child(3) {
    width: 175px;
  }
  
  a:nth-child(4) {
    width: 175px;
  }
  
  a:nth-child(5) {
    width: 175px;
  }
  
  .nav1 .boton1,
  a:nth-child(1):hover ~ .animation {
    width: 95px;
    left: 0px;
    background-color: #1abc9c;
  }
  
  .nav1 .boton2,
  a:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
  }
  
  .nav1 .boton3,
  a:nth-child(3):hover ~ .animation {
    width: 175px;
    left: 220px;
    background-color: #3498db;
  }
  
  .nav1 .boton4,
  a:nth-child(4):hover ~ .animation {
    width: 160px;
    left: 390px;
    background-color: #9b59b6;
  }
  
  .nav1 .boton5,
  a:nth-child(5):hover ~ .animation {
    width: 175px;
    left: 570px;
    background-color: #e67e22;
  }
  
  audio{
    height:20px;
    width: 40%;
  }
section {
  position: absolute;
  left: 50%;
  bottom: 40%;
  height: 50%;
  width: 50%;
  z-index: 6;
}
#form2{
  position: relative;
  left: 25%;
 
}
  /*footer*/
footer {
  background: rgb(65, 65, 65);
  background: linear-gradient(90deg, rgb(3, 3, 3) 0%, rgb(94, 93, 93)50%, rgb(255, 255, 255) 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
  table{
width: 100%; 
  }
table td{
  font-size: 25px;
  font-family: "Cherry Swash", cursive;
  width: 33%;
}
a{
  color: #eeeeee;
  text-decoration: none;
}

h1{
    text-align: center;
    margin: 2% 10%;
    font-size: 30px;
    color: #fcfcfc;
    text-shadow: 2px 2px 4px #0a0101c4;
    font-family: "Cherry Swash", cursive;
}

#titulo {
  position: absolute;
  right: 0%;
}
#aviso2{
  position: relative;
  left: 300px;
}
#titulo2{
  position: absolute;
  left: 15%;
  
}

